@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, #fff3cf 0%, #e2f0f8 75.52%);
  background-repeat: none;
  height: 100vh;
  // overflow: hidden;

  font-family: "PP Editorial New", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  @media only screen and (min-width: 600px) {
    background: linear-gradient(270deg, #fff3cf 0%, #e2f0f8 75.52%);
  }
}

body {
  overflow: hidden;
}
.slick-list,
.slick-track {
  touch-action: pan-y;
}

.bg-sunset {
  background: linear-gradient(180deg, #fff3cf 0%, #e2f0f8 75.52%);
  background-repeat: none;
  @media only screen and (min-width: 600px) {
    background: linear-gradient(270deg, #fff3cf 0%, #e2f0f8 75.52%);
  }
}

.sunset {
  background: linear-gradient(
      180deg,
      #ffefbf 0%,
      rgba(255, 239, 191, 0.69) 100%
    ),
    rgba(255, 255, 255, 0.85);
  box-shadow: 0px 4px 30px #ffe79c;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
.bay {
  path {
    &hover {
      cursor: pointer;
    }
  }
}

* {
  box-sizing: border-box;
}

.opening-mark {
  margin-left: -27px;
}
.closing-mark {
  margin-right: -27px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.slick-slide {
  &:last-child {
    border-bottom: 1px solid white;
  }
}
.slick-list {
  padding: 0;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bg-moss-green {
  background: rgba(149, 149, 56, 0.6);
}

.bg-cheddar {
  background: linear-gradient(0deg, #f5db95, #f5db95), rgba(255, 255, 255, 0.85);
  opacity: 0.5;
}

.bay-illustration {
  overflow-x: hidden;
  overflow-y: hidden;
  height: calc(100vh - 66px);
  display: block;
  svg {
    cursor: grab;
    overflow-x: scroll;
    overflow-y: scroll;
    height: calc(100%);
  }
}
.zoom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(270deg);
  right: -80px;
  top: calc(50%);
  background: #fff3cf;
  border-radius: 30px;
  padding: 6px 5px;
  // :first-child {
  //   margin-bottom: 10px;
  // }
  // :nth-child(2) {
  //   margin-bottom: 10px;
  // }
  @media only screen and (min-width: 600px) {
    transform: rotate(0deg);
    top: 80px;
    right: calc(50% - 100px);
  }

  .map-zoom {
    -webkit-appearance: none;
    width: 200px;
    height: 1px;
    outline: none;
    padding: 0 4px;
    // outline: none;
    &::-webkit-slider-runnable-track {
      background-color: #5b3b0b;
      color: #5b3b0b;
      height: 1px;
      user-select: none;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff3cf;
      border: 1px solid #5b3b0b;
      cursor: pointer;
      // color: #5b3b0b;
      // border: 1px solid #5b3b0b;
      height: 16px;
      width: 16px;
      margin: -7.5px 0;
      border-radius: 14px;
    }
    &::-ms-thumb {
      margin: 0; /* Reset margin in Edge since it supports -webkit-slider-thumb as well */
    }
    & :focus {
      outline: none;
    }
    @media only screen and (min-width: 600px) {
      padding: 0 8px;
    }
  }
}

.stroked-text {
  color: transparent;
  -webkit-text-stroke: 1px black;
}
.period-gradient {
  background: linear-gradient(
    183.29deg,
    #fff3cf 50%,
    rgba(250, 245, 233, 0.21) 108.08%
  );
  background-repeat: none;
}
.period-gradient-bottom {
  background: linear-gradient(
    180deg,
    rgba(226, 240, 248, 0.69) 63.33%,
    rgba(226, 240, 248, 0) 99.3%
  );
  transform: rotate(-180deg);
  background-repeat: none;
}
.nav-gradient {
  background: linear-gradient(
      180deg,
      #ffefbf 0%,
      rgba(255, 239, 191, 0.69) 100%
    ),
    rgba(255, 255, 255, 0.85);
  box-shadow: 0px 4px 30px #ffe79c;
}
.bg-branch {
  background: url("/images/HomeBackground.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.drop-shadow-bay {
  filter: drop-shadow(2px 4px 20px rgba(255, 216, 80, 0.3));
}

.swiper-slide {
  height: 108px !important;
  width: 100%;
  @media only screen and (min-width: 600px) {
    height: 100% !important;
    width: 800px !important;
  }
  @media only screen and (min-width: 1920px) {
    width: 1024px !important;
  }
}

.bay {
  top: calc(-50% + 124px);
  @media only screen and (min-width: 600px) {
    top: calc(-50% + 240px);
  }
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
}
